[report]
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.:

[run]
omit =
    Testing/*
    Program/Testing/*
    FrameAnalyzer/DeepSocial/*
    Program/FrameAnalyzer/DeepSocial/*
    Calibrator/Automation/*
    Program/Calibrator/Automation/*
	FrameAnalyzer/DeepSocialDetector.py
	Program/FrameAnalyzer/DeepSocialDetector.py